apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend
  labels:
    app: travelmemory
    tier: frontend
spec:
  replicas: 2
  selector:
    matchLabels:
      app: travelmemory
      tier: frontend
  template:
    metadata:
      labels:
        app: travelmemory
        tier: frontend
    spec:
      containers:
        - name: frontend
          image: vikramhemchandar/travelmemory:frontendv1.0
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 3000
          env:
            - name: PORT
              value: "3000"
            - name: REACT_APP_BACKEND_URL
              value: "http://localhost:30001"
---

apiVersion: v1
kind: Service
metadata:
  name: frontend
  labels:
    app: travelmemory
    tier: frontend
spec:
  type: NodePort
  selector:
    app: travelmemory
    tier: frontend
  ports:
    - port: 3000
      targetPort: 3000
      nodePort: 30000
      protocol: TCP
